<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android" 
        xmlns:cdv="http://cordova.apache.org/ns/1.0">
        id          = "app.virte.flostat"
        versionCode = "10"
        version     = "1.13.0">

    <name>Playing cards</name>

    <description>
        Играй и выигрывай!
    </description>

    <author>Tadapp</author>

    <preference name='phonegap-version' value='cli-9.0.0' />

    <plugin name='cordova-plugin-splashscreen' />
    <plugin name='cordova-plugin-inappbrowser' />

    <gap:plugin name='onesignal-cordova-plugin' spec='2.4.5' source='npm' />

    <preference name='android-build-tool' value='gradle' />
    <preference name="android-targetSdkVersion" value="28" />
    <preference name='orientation' value='portrait' />

    <preference name='windows-appx-target' value='8.1-phone' />
    <preference name='WindowsToastCapable' value='true' />

    <preference name="SplashMaintainAspectRatio" value="true" />
    <preference name="SplashScreenSpinnerColor" value="#007BFF" />
    
    <platform name="android">
      <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
          <application android:usesCleartextTraffic="true" />
      </edit-config>
    </platform>


    <platform name="android">
        <icon src="res/android/icon/748d07d55c717864e784711f38fc1e37.png" density="ldpi" />
        <icon src="res/android/icon/c94295f3ac5be20c1493d12a4b8e756c.png" density="mdpi" />
        <icon src="res/android/icon/9cbe9285ce3495954ca697f99f239f95.png" density="hdpi" />
        <icon src="res/android/icon/7f0be7c58bd3c22097492b03d043b383.png" density="xhdpi" />
        <icon src="res/android/icon/6deadad66e7d1eec2190cf7e1db83a0c.png" density="xxhdpi" />
        <icon src="res/android/icon/744416cfed22ceac10495a2bbb462c0a.png" density="xxxhdpi" />

        <splash src="res/android/screen/d4176426ebf1c681fa5f251dd725c773.png" density="port-hdpi"/>
        <splash src="res/android/screen/d61949896dbddc826e1097ca3ff3f07c.png" density="port-ldpi"/>
        <splash src="res/android/screen/abe1ae130471e6424cbf30cdb3832ac7.png" density="port-mdpi"/>
        <splash src="res/android/screen/df7d1ebaee89584bdd279781e16d3e8d.png" density="port-xhdpi"/>
    </platform>

    <platform name="ios">
        <icon src="res/ios/icon/1d27c66cdbb769412d18c6523353fc13.png" width="180" height="180" />
        <icon src="res/ios/icon/a1d48f1059510cd2cfa174379a0500a1.png" width="60" height="60" />
        <icon src="res/ios/icon/3902a5adfc3ec67a14fb500539f44191.png" width="120" height="120" />
        <icon src="res/ios/icon/ff7a5281dc49650787912b403bbaf55f.png" width="76" height="76" />
        <icon src="res/ios/icon/29e159a44af4d8bff9850f7ba120e079.png" width="152" height="152" />
        <icon src="res/ios/icon/9bd011b8372dfe99d5358625bc7c2eb3.png" width="57" height="57" />
        <icon src="res/ios/icon/131a2a16677a156f16d96a119737b005.png" width="114" height="114" />
        <icon src="res/ios/icon/486bb281dfff7e9f520b1355897a9bb6.png" width="72" height="72" />
        <icon src="res/ios/icon/88da61086f22a850f2b8a5cff1f6665f.png" width="144" height="144" />
        <icon src="res/ios/icon/67c0889eddba3f9c32469d2938ee4743.png" width="167" height="167" />
        <icon src="res/ios/icon/421b361d90d40503ef82b6511abae763.png" width="29" height="29" />
        <icon src="res/ios/icon/f2bc2194e9eb8953768297d4261f9ae2.png" width="58" height="58" />
        <icon src="res/ios/icon/98fb131a68ec45387a3c46208cfb53af.png" width="87" height="87" />
        <icon src="res/ios/icon/d9bcf85dd6d799834b06402cb4965d95.png" width="167" height="167" />

        <splash src="res/ios/screen/9e26c7d570723e316e1e3a810ceef37a.png" />
        <splash src="res/ios/screen/929176d7b44b54ae3f6e40cc0d339bc3.png" />
        <splash src="res/ios/screen/06e4b1f50ac2390bbe796cd274e0ae13.png" />
        <splash src="res/ios/screen/281835d2725e00dd4580622a8f302f3c.png" />
        <splash src="res/ios/screen/2f01401e1418d51ae61e32a49979e9dc.png" />
        <splash src="res/ios/screen/a1e844c40dd4a281c3c2e3d75d71cb09.png" />
    </platform>

    <platform name="winphone">
        <icon src="res/windows/icon/89f29fae146fb125f56f7ee0cfc1b6c4.png" target="StoreLogo" />
        <icon src="res/windows/icon/fdf4c0f82e85de75357e9261b7e739a4.png" target="Square30x30Logo" />
        <icon src="res/windows/icon/995ff0b201506cc3027c10becba127fa.png" target="Square44x44Logo" />
        <icon src="res/windows/icon/fb0cd59dea7bf9af64ac3d2859a6e07d.png" target="Square70x70Logo" />
        <icon src="res/windows/icon/307f0e59f797d06e6f8bb38f5bf46b32.png" target="Square71x71Logo" />
        <icon src="res/windows/icon/046dcf13ebaaa2a30610c7af445eb3b7.png" target="Square150x150Logo" />
        <icon src="res/windows/icon/81d63fba005f4043393d3284c7c4727d.png" target="Square310x310Logo" />

        <splash src="res/windows/screen/c120098f720a79e33396f107505ee40a.png" target="SplashScreen"/>
        <splash src="res/windows/screen/ac1cf61fddf11d794ea3eafe2c5d05ef.png" target="SplashScreenPhone"/>
    </platform>

    <access origin='*'/>
    <plugin name='cordova-plugin-whitelist' />
    <allow-intent href='http://*/*'/>
    <allow-intent href='https://*/*'/>
    <allow-intent href='tel:*'/>
    <allow-intent href='sms:*'/>
    <allow-intent href='mailto:*'/>
    <allow-intent href='geo:*'/>

</widget>